---
name: Plan and deploy to Nomad Cluster using nomad-pack
on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
        description: The unique identifier of this deployed instance of the pack
      cluster:
        required: true
        type: string
        description: Nomad Cluster/Datacenter Name
      environment:
        required: true
        type: string
        description: Application environment to deploy
      api_url:
        required: true
        type: string
        description: Nomad cluster API address
      image_name:
        required: true
        type: string
        description: Docker image to deploy to cluster
      registry:
        required: true
        type: string
        description: Nomad pack registry to download.
      pack_name:
        required: true
        type: string
        description: Nomad pack in registry to use.
      run_plan:
        type: boolean
        description: Specify whether to plan nomad pack to cluster
        default: false
      run_deploy:
        type: boolean
        description: Specify whether to deploy nomad pack to cluster
        default: false
      variables_file_name:
        required: true
        type: string
        description: Relative path to nomad_pack variable.
      one_password_secret_path:
        required: false
        type: string
        description: Path to nomad_token stored in 1password.
    secrets:
      nomad_token:
        required: false
        description: "Nomad token for accessing Nomad cluster"
      ssh_key:
        description: "SSH key to use"
        required: true
      slack_bot_token:
        required: true
        description: "Access token for Slack"

jobs:
  slack-notify-start:
    uses: remerge/workflows/.github/workflows/slack-notify.yml@main
    if: ${{ github.event_name != 'pull_request' && inputs.run_deploy }}
    with:
      cluster: ${{ inputs.cluster }}
      status: running
    secrets:
      slack_bot_token: ${{ secrets.slack_bot_token }}

  nomad:
    runs-on: [self-hosted, generic, nomad]
    steps:
      - name: Check if docker image is set
        if: ${{ inputs.run_deploy && inputs.image_name == '' }}
        run: exit 1
      - uses: actions/checkout@v3

      - name: Check for nomad_token input is set
        id: secret-check
        # perform secret check & put boolean result as an output
        shell: bash
        env:
          TOKEN: ${{ secrets.nomad_token }}
        run: |
          if [ "${{ secrets.nomad_token }}" != '' ]; then
            echo "nomad_token_set=true" >> $GITHUB_OUTPUT;
            echo "NOMAD_TOKEN=$TOKEN" >> "$GITHUB_ENV"
          else
            echo "nomad_token_set=false" >> $GITHUB_OUTPUT;
          fi

      - name: Load nomad_token from 1password
        if: ${{ inputs.one_password_secret_path && steps.secret-check.outputs.nomad_token_set == 'false' }}
        uses: 1password/load-secrets-action@v1
        with:
          # Export loaded secrets as environment variables
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          NOMAD_TOKEN: ${{ format('op://{0}', inputs.one_password_secret_path) }}
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.6.0
        with:
          ssh-private-key: |
            ${{ secrets.ssh_key }}

      - name: Update Git config
        run: |
          curl -L https://api.github.com/meta | jq -r '.ssh_keys | .[]' | sed -e 's/^/github.com /' >> ~/.ssh/known_hosts
          git config --global url."git@github.com:".insteadOf "https://github.com/"

      - name: Add Nomad pack registry
        run: |
          nomad-pack registry add remerge-pack ${{ inputs.registry }}

      - name: Validate Nomad Configurations
        id: nomad_validate
        env:
          NOMAD_ADDR: ${{ inputs.api_url }}
          NOMAD_VAR_task_image: ${{ inputs.image_name }}
          NOMAD_VAR_cluster: ${{ inputs.cluster }}
          NOMAD_VAR_environment: ${{ inputs.environment }}
        run: |
          nomad-pack render ${{ inputs.pack_name }} \
          --var='task_image=${{ inputs.image_name }}' \
          --var='cluster=${{ inputs.cluster }}' \
          --var='environment=${{ inputs.environment }}' \
          --var-file=${{ inputs.variables_file_name }} \
          --name=${{ inputs.name }} --registry=remerge-pack \
          | tail -n +2 | nomad job validate -

      - name: Run Nomad Pack Plan
        id: nomad_pack_plan
        if: ${{ inputs.run_plan }}
        env:
          NOMAD_TOKEN: ${{ env.NOMAD_TOKEN }}
          NOMAD_ADDR: ${{ inputs.api_url }}
        # continue on error; default is `bash -e {0}`
        shell: bash {0}
        run: |
          res=$(nomad-pack plan ${{ inputs.pack_name }} \
          --var='task_image=${{ inputs.image_name }}' \
          --var='cluster=${{ inputs.cluster }}' --region='${{ inputs.cluster }}' \
          --var='environment=${{ inputs.environment }}' \
          --var-file=${{ inputs.variables_file_name }} \
          --name=${{ inputs.name }} --registry=remerge-pack  \
          --exit-code-makes-changes=0)

          # save exit code for later
          ret=$?

          echo "${res}"
          res="${res//'%'/'%25'}"
          res="${res//$'\n'/'%0A'}"
          res="${res//$'\r'/'%0D'}"

          {
            echo "stdout<<EOF"
            echo "${res}"
            echo "EOF"
          } >> "${GITHUB_OUTPUT}"

          # let the next step know how everything went
          exit ${ret}

      # - name: PR Comment
      #   if: ${{ github.event_name == 'pull_request' && inputs.run_plan }}
      #   uses: actions/github-script@v6
      #   with:
      #     github-token: ${{secrets.github_token}}
      #     script: |
      #       github.rest.issues.createComment({
      #         issue_number: context.issue.number,
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         body: `Nomad Plan for ${{ inputs.cluster }} \n ${{ steps.nomad_pack_plan.outputs.stdout }}`
      #       })

      - name: Create github deployment
        if: ${{ github.event_name != 'pull_request' && inputs.run_deploy }}
        id: deployment
        uses: chrnorm/deployment-action@v2
        with:
          environment: ${{ inputs.environment }}
          token: "${{ github.token }}"

      - name: Deploy to Nomad
        id: nomad_deployment
        if: ${{ github.event_name != 'pull_request' && inputs.run_deploy }}
        env:
          NOMAD_TOKEN: ${{ env.NOMAD_TOKEN }}
          NOMAD_ADDR: ${{ inputs.api_url }}
        run: |
          nomad-pack run ${{ inputs.pack_name }} \
          --var='task_image=${{ inputs.image_name }}' \
          --var='cluster=${{ inputs.cluster }}' --region='${{ inputs.cluster }}' \
          --var='environment=${{ inputs.environment }}' \
          --var-file=${{ inputs.variables_file_name }} \
          --name=${{ inputs.name }} --registry=remerge-pack

      - name: Update github deployment status
        if: ${{ github.event_name != 'pull_request' && inputs.run_deploy }}
        uses: chrnorm/deployment-status@v2
        with:
          token: "${{ github.token }}"
          deployment-id: ${{ steps.deployment.outputs.deployment_id }}
          state: "${{ steps.nomad_deployment.outcome }}"

  slack-notify-finish:
    if: ${{ always() && needs.nomad.result != 'skipped' && github.event_name != 'pull_request' && inputs.run_deploy  }}
    needs: [nomad, slack-notify-start]
    uses: remerge/workflows/.github/workflows/slack-notify.yml@main
    with:
      cluster: ${{ inputs.cluster }}
      status: ${{ needs.nomad.result }}
      update_ts: ${{ needs.slack-notify-start.outputs.ts }}
    secrets:
      slack_bot_token: ${{ secrets.slack_bot_token }}
