---
# Check that specific directory is up-to-date with specific Git repo.
# This workflow is optional and can be invoked once per week on master branch.

name: Git Tree Upstream Sanity

on:
  workflow_call:
    inputs:
      directory:
        type: string
        required: true
        description: "target directory"
      repo:
        type: string
        required: true
        description: "target github repository"
      branch:
        type: string
        required: false
        default: "master"
        description: "target github branch"
      upstream_name:
        type: string
        required: false
        default: "dep"
        description: "target upstream"
      os:
        description: "OS version to run the workflow on. If not provided, defaults to 'ubuntu-latest'"
        type: string
        default: ubuntu-latest
        required: false
    secrets:
      ssh_key:
        description: "SSH key to use"
        required: true

jobs:
  upstream:
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: "${{ secrets.ssh_key }}"

      - name: Update Git config
        run: |
          curl -f -L --retry 5 --retry-delay 1 https://api.github.com/meta | jq -r '.ssh_keys | .[]' | sed -e 's/^/github.com /' >> ~/.ssh/known_hosts
          git config --global url."git@github.com:".insteadOf "https://github.com/"

      - run: git remote add ${{ inputs.upstream_name }} https://${{ inputs.repo }}.git
      - run: git fetch -a -p ${{ inputs.upstream_name }}
      - run: git diff --exit-code --name-only --relative HEAD:${{ inputs.directory }}/ ${{ inputs.upstream_name }}/${{ inputs.branch }}:./
